body {
    
}

#Cameras-set {
    width: 100%;
}

.principal {
    background-color: white;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p{
    text-align: center;
}

#missao {
    font-size: 20px;
}


em strong {
    color:brown
}
